ACCESS_KEY_ID=AKIAUFAKZJPMGQADVKK5
SECRET_KEY=4ECPjfMV//ww+lwXPygbcVPaDIffL2LFIspJrZ3h1
CLIENT_ID=5hhk896gi37iaqrimohnl3q04s
CLIENT_SECRET=vcvuh54mit1ojblfgmms89d3skprapcn0k3aqo0evrl9mc1lnh8
POSTGRES_PASSWORD=vDpaCLwv/h+tQXCbdCqCSzUCDdfEq4wSIupilL6W8+YA=
POSTGRES_USER=assa_abloy_locks_admin